.current{
    color:lightgray;
}
h1 {
    font-size: 100%;
}

p {
    margin-left: 10px;
}

main {
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.image {
    width: 14%;
    min-width: 250px;
    height: 15%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    vertical-align: middle;
}

img {
    width: 100%;
    height: 100%;
}

.imageContainer {
    text-align: center;
    vertical-align: middle;
}



.video{
    vertical-align: middle;
    display: inline-block;
    width: 14%;
    min-width: 250px;
    height: 15%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.videoContainer {
    text-align: center;
    vertical-align: middle;
}

video{
    width: 100%;
    height: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button{
    vertical-align: middle;
    width: 14%;
    min-width: 250px;
    height: 15%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    text-align: center;
    vertical-align: middle;
  }

#scroll {
    position: fixed;
    display: none;
    bottom:20px;
    right:20px;
    z-index: 99;
    width: 5%;
    height: 5%;


}
